<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/guyangxq/index.json" />
        <Version>1.0.1</Version>
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="guyangxq" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>